.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;

}
h1{
    color:white;
    font-size: 48px;
    font-family: "Anton", sans-serif;
    font-weight: 200;
    margin-top: 5px;
    margin-bottom: 20px;
}
h2{
    font-family: 'Merriweather', serif;
    color: #BFFF00;
    font-size: 24px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

header{
margin-bottom: 30px;
}

#ap-name {
    font-size: 24px;
    font-family:'Merriweather', serif;
    background-image: linear-gradient(90deg, #BFFF00, white, #BFFF00);
    background-clip: text;
    color: transparent;
}
#gradientedgenerator {
    color: transparent;
    background-image: linear-gradient(90deg, #BFFF00, white, #BFFF00);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}

form {
    display: flex;
    box-shadow:10px 10px 29px 0px rgba(0,0,0,0.67);
}

.form-wrapper{
    background-color: black;
    margin-bottom: 30px;  
    box-shadow:10px 10px 29px 0px rgba(0,0,0,0.67);
}
.hint{
    line-height: 1.5;
    font-size: 12px;
    margin-top: 10px;
}
.instructions{
    flex-grow: 1;
    padding: 13px;
    font-size: 18px;
    border: 2px solid #BFFF00;
    background-color: #333;
    color: white;
    border-radius: 4px 0 0 4px;
    margin-right: 8px;
}
.submit-button{
    padding: 16px 24px;
    font-size: 16px;
    background-color: #BFFF00;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;   
}
button:hover {
    background-color: #A0FF00;
}

.poem-text-box{
    font-size:18px;
    background-color: white;
    padding: 15px; 
    line-height: 26px;
   border-left: 3px solid black;
   color: black;
}
.hidden{
    display: none;
}
footer{
    margin-top: auto;
    text-align: center;
    padding: 18px 0;
    font-size: 13px;
    color: #888;
}
footer a {
    color: #BFFF00;
    text-decoration: none;
    margin: 0 0.5 rem
}
strong{
    color:  #BFFF00;;
}


.blink{

    animation: blink 1s linear infinite;

}
@keyframes blink {
    25% {opacity: 0.5;
    }
    50% {opacity: 0;
    }
    75%{ opacity:0.5;
    }
}