.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    font-family: 'Inter', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;

}
h1{
    color:#BFFF00;
    font-size: 48px;
    font-family: "Anton", sans-serif;
    font-weight: 200;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
header{
    text-align: center; 
    margin-bottom: 30px;
}
h2{
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: 24px;
    margin-top: 22px;
}

p {
    margin-bottom: 30px;
    font-size: 1.2rem;
}

header{
    text-align: center; 
    margin-bottom: 30px;
}

#ap-name {
    font-size: 24px;
    font-weight: 700;
    font-family:'Merriweather', serif;
    background-image: linear-gradient(90deg, #BFFF00, #ffffff);
    background-clip: text;
    color: transparent;
}
#gradientedgenerator {
    color: transparent;
    background-image: linear-gradient(90deg, #BFFF00, white, #BFFF00);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
}

form {
    display: flex;
    box-shadow:10px 10px 29px 0px rgba(0,0,0,0.67);
    border-radius: 0 4px 4px 0; 
}

.form-wrapper{
    background-color:#1E1E1E;
    padding: 24px;
    border-radius: 6px;
    margin-bottom: 30px;  
    box-shadow: 0 4px 9px rgba(0,0,0,0.1);
}
.hint{
    line-height: 1.5;
    font-size: 12px;
    color: #BBBBBB;
    margin-top: 9px;
}
.instructions{
    flex-grow: 1;
    padding: 10px;
    font-size: 15px;
    border: 2px solid #BFFF00;
    background-color: #2A2A2A;
    color: #ffffff;
    border-radius: 4px;
    margin-right: 6px;
}
.submit-button{
    padding: 12px 18px;
    font-size: 15px;
    background-color: #BFFF00;
    color: #000000;
    border: none;
    cursor: pointer;
    border-radius:4px;
    transition: background-color 0.3s ease;   
}
button:hover {
    background-color: #A0FF00;
}

.poem-text-box{
    font-size:18px;
    background-color: white;
    padding: 15px; 
    line-height: 26px;
   border-left: 3px solid black;
   color: black;
}
.hidden{
    display: none;
}
footer{
    margin-top: auto;
    text-align: center;
    padding: 18px 0;
    font-size: 13px;
    color: #888;
}
footer a {
    color: #BFFF00;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
strong{
    color:  #BFFF00;;
}

#box {
    background-color: #1E1E1E;
    padding: 1.5rem;
    border-radius: 8px;
    border-left: 4px solid #BFFF00;
    font-family: 'Merriweather Sans', serif;
    line-height: 1.6;
    margin-bottom: 2rem;
}